// =========================
// Clearfix

// float:left のみクリア

.clfl:after {
  content    : ".";
  display    : block;
  clear      : left;
  height     : 0;
  visibility : hidden;

  // フッターなどに適用すると下に隙間ができてしまう問題への対応
  overflow: hidden;
  font-size: 0.1em;
  line-height: 0;
}

// float:right のみクリア

.clfr:after {
  content    : ".";
  display    : block;
  clear      : right;
  height     : 0;
  visibility : hidden;

  // フッターなどに適用すると下に隙間ができてしまう問題への対応
  overflow: hidden;
  font-size: 0.1em;
  line-height: 0;
}

// float 両方クリア

.clf:after {
  content    : ".";
  display    : block;
  clear      : both;
  height     : 0;
  visibility : hidden;

  // フッターなどに適用すると下に隙間ができてしまう問題への対応
  overflow: hidden;
  font-size: 0.1em;
  line-height: 0;
}

.clf {
  min-height : 1px;
}

* html .clf {
  height : 1px;
  /*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}