// =========================
// ブラウザ独特の望ましくない挙動の抑制のためにやっておいたほうがよい設定

body
  -webkit-font-smoothing: antialiased // Choromeの文字の滲み対策
  -webkit-text-size-adjust: 100% // iOS Safariで文字サイズが自動調整されて大きく表示されてしまうことへの対策

// Android Chromeで高さがないと文字が大きくなってしまうバグ対応
// [注意]ただし、GoogleMapsを使う場合は、これが原因でMarkerが表示されない、拡大縮小のUIの表示が乱れる、などの不具合が生じる
// *
//   max-height: 100%
// …なので、こんな感じでGoogleMapsに影響ない範囲で指定する。
a,h1,h2,h3,h4,h5,h6,p,small,section
  max-height: 100%

img
  border: 0 // IE対策
  vertical-align: bottom // IEの画像の下に隙間ができるバグ対策

// IEでカーソルが変わらない対策
a span
  cursor: pointer

.overlay
  cursor: pointer // iOSのSafariでクリックイベントが拾えるように

/*

下記、boagworld.comの記事にも追記されているが、すでに解決されているっぽいのでコメントアウト

// iOSでページロード直後に勝手にリサイズが発生し、
// その結果、最終的に半端な位置までスクロールしてしまう症状の対策
// https://boagworld.com/dev/ios-safari-resizing-issues/
html,body
  overflow: auto // この行のせいで、iOSで一番上までスクロールした状態で更に上に行こうと引っ張ると、ヘッダー部分が隠れてしまう（消えてしまう）症状が起こるので注意
  margin: 0
  -webkit-overflow-scrolling: touch
  // 下記も上の記事に含まれていたが、なくても動作してるっぽいのと
  // これがあると、結構他の部分のスタイルに影響が出てくるのでコメントアウトしている
  // height: 100%
*/