=grad($top_color: #ffffff, $bottom_color: #e6e6e6)
  background-color: $bottom_color
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $top_color), color-stop(100%, $bottom_color))
  background-image: -webkit-linear-gradient($top_color, $bottom_color)
  background-image: linear-gradient($top_color, $bottom_color)
  background: -moz-linear-gradient(top, $top_color, $bottom_color)

=grad_img($img_url, $top_color: #ffffff, $bottom_color: #e6e6e6, $img_width: none, $img_height: none)
  background-color: $bottom_color
  background-image: url($img_url), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $top_color), color-stop(100%, $bottom_color))
  background-image: url($img_url), -webkit-linear-gradient($top_color, $bottom_color)
  background-image: url($img_url), linear-gradient($top_color, $bottom_color)
  @if $img_width != none && $img_height != none
    background-size:  $img_width $img_height, 100% 100%

=gradPer($top_color: #ffffff, $per : 50%, $bottom_color: #e6e6e6)
  background: -webkit-linear-gradient($top_color $per, $bottom_color 100%)
  background: -moz-linear-gradient($top_color $per, $bottom_color 100%)
  background: -o-linear-gradient($top_color $per, $bottom_color 100%)
  background: linear-gradient($top_color $per, $bottom_color 100%)
  background: -ms-linear-gradient($top_color $per, $bottom_color 100%)

=box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC)
  -webkit-box-shadow: $horizontal $vertical $blur $color
  -moz-box-shadow: $horizontal $vertical $blur $color
  box-shadow: $horizontal $vertical $blur $color

=radius($size)
  border-radius: $size

=radius-top($size)
  // @include border-top-left-radius(0)
  // @include border-top-right-radius(0)
  // IE7,8では位置毎の指定（上記）が無効になるため、両方丸める方向で調整
  border-radius: $size
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

=radius-bottom($size)
  // @include border-top-left-radius(0)
  // @include border-top-right-radius(0)
  // IE7,8では位置毎の指定（上記）が無効になるため、両方丸める方向で調整
  border-radius: $size
  border-top-left-radius: 0
  border-top-right-radius: 0

=radius-left($size)
  // @include border-top-left-radius(0)
  // @include border-bottom-left-radius(0)
  // IE7,8では位置毎の指定（上記）が無効になるため、両方丸める方向で調整
  border-radius: $size
  border-top-right-radius: 0
  border-bottom-right-radius: 0

=radius-right($size)
  // @include border-top-right-radius(0)
  // @include border-bottom-right-radius(0)
  // IE7,8では位置毎の指定（上記）が無効になるため、両方丸める方向で調整
  border-radius: $size
  border-top-left-radius: 0
  border-bottom-left-radius: 0

// 背景画像に画像を読み込んで中のspanは消す
=bgimage($width, $height, $background-image, $background-repeat: no-repeat, $background-position: center)
  display: block
  width: $width
  height: $height
  background-image: $background-image
  background-repeat: $background-repeat
  background-position: $background-position
  span
    display: none

=bg2x($path, $extension, $size: auto auto, $position: center, $repeat: no-repeat)

  $at1x_path: "#{$path}.#{$extension}"
  $at2x_path: "#{$path}@2x.#{$extension}"

  background-image: url("#{$at1x_path}")
  background-size: unquote($size)
  background-position: unquote($position)
  background-repeat: unquote($repeat)

  @media all and (-webkit-min-device-pixel-ratio : 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5)
    background-image: url("#{$at2x_path}")

=cancel-default-style()
  background: none
  border: none
  outline: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  padding: 0
  margin: 0
  border: 0
  // for IE
  &::-ms-expand
    display: none

// フォントのアンチエイリアス
=font-smoothing($type)
  @if $type == subpixel-antialiased
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: unset
  @else if $type == antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @else
    @error "Sorry, but `#{$type}` is not a valid value for $type."

// テキストの両端揃え
// $value:
//   auto: 通常表示（初期値）
//   distribute: 単語と文字それぞれの間隔で均等割付
//   distribute-all-lines: 単語と文字それぞれの間隔で均等割付（最終行も含める）
//   inter-cluster: 最終行も含め均等割付（単語間隔をもたない言語向け）
//   inter-ideograph: 単語と文字それぞれの間隔で均等割付（日本語・中国語・韓国語向け）
//   inter-word: 単語の間隔のみを均等割付
//   kashida: 単語と文字それぞれの間隔で均等割付（アラビア語向け）
//   newspaper: 最終行も含め単語と文字それぞれの間隔で均等割付（英文向け）
=text-align-justify($value: inter-ideograph, $ie_support: true)
  text-align: justify
  // for IE, Edge
  text-justify: $value
  // IE, Edgeでは、font-feature-settingsが効いていると両端揃えが無効化されるため、ここでデフォルト値に戻す
  // ただし、bodyに対するクラス付与はjsで行うこと
  @if $ie_support
    body.ie &,
    body.edge &
      font-feature-settings: normal

// 画面サイズが小さいときのスタイルをインラインで定義するためのmixin
=on_small_window
  @media (max-width: 1000px ), (max-height: 700px )
    @content

// 手のひらカーソル
=grab-cursor
  // http://www.google.com/intl/en_ALL/mapfiles/openhand.cur
  cursor: url('data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2yAAAZsAAAGbAAAAGAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///AB///5A////5///8='), all-scroll
  // cursor: -webkit-grab
  cursor: -moz-grab
  cursor: -o-grab
  cursor: -ms-grab
  cursor: grab

// 掴むカーソル
=grabbing-cursor
  // http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur
  cursor: url('data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8='), all-scroll
  // cursor: -webkit-grabbing
  cursor: -moz-grabbing
  cursor: -o-grabbing
  cursor: -ms-grabbing
  cursor: grabbing

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=animation($animation-name)
  -webkit-animation: $animation-name
  -moz-animation: $animation-name
  animation: $animation-name

// Photoshopのトラッキング（単位なし）をそのまま引数で渡せば、適切な値に変換してくれる関数
@function tracking($val)
  @return #{$val/1000}em
