/* PC/SP display switching */
/* 閾値を800pxにしているが、異なる場合はその部分のみ書き換えてコピペすること */
a.sp, abbr.sp, acronym.sp, audio.sp, b.sp, bdi.sp, bdo.sp, big.sp, br.sp, button.sp, canvas.sp, cite.sp, code.sp, data.sp, datalist.sp, del.sp, dfn.sp, em.sp, embed.sp, i.sp, iframe.sp, img.sp, input.sp, ins.sp, kbd.sp, label.sp, map.sp, mark.sp, meter.sp, noscript.sp, object.sp, output.sp, picture.sp, progress.sp, q.sp, ruby.sp, s.sp, samp.sp, script.sp, select.sp, slot.sp, small.sp, span.sp, strong.sp, sub.sp, sup.sp, svg.sp, template.sp, textarea.sp, time.sp, u.sp, tt.sp, var.sp, video.sp, wbr.sp {
  display: none;
}

@media (width <= 800px) {
  a.sp, abbr.sp, acronym.sp, audio.sp, b.sp, bdi.sp, bdo.sp, big.sp, br.sp, button.sp, canvas.sp, cite.sp, code.sp, data.sp, datalist.sp, del.sp, dfn.sp, em.sp, embed.sp, i.sp, iframe.sp, img.sp, input.sp, ins.sp, kbd.sp, label.sp, map.sp, mark.sp, meter.sp, noscript.sp, object.sp, output.sp, picture.sp, progress.sp, q.sp, ruby.sp, s.sp, samp.sp, script.sp, select.sp, slot.sp, small.sp, span.sp, strong.sp, sub.sp, sup.sp, svg.sp, template.sp, textarea.sp, time.sp, u.sp, tt.sp, var.sp, video.sp, wbr.sp {
    display: inline;
  }
  a.pc, abbr.pc, acronym.pc, audio.pc, b.pc, bdi.pc, bdo.pc, big.pc, br.pc, button.pc, canvas.pc, cite.pc, code.pc, data.pc, datalist.pc, del.pc, dfn.pc, em.pc, embed.pc, i.pc, iframe.pc, img.pc, input.pc, ins.pc, kbd.pc, label.pc, map.pc, mark.pc, meter.pc, noscript.pc, object.pc, output.pc, picture.pc, progress.pc, q.pc, ruby.pc, s.pc, samp.pc, script.pc, select.pc, slot.pc, small.pc, span.pc, strong.pc, sub.pc, sup.pc, svg.pc, template.pc, textarea.pc, time.pc, u.pc, tt.pc, var.pc, video.pc, wbr.pc {
    display: none;
  }
}

address.sp, article.sp, aside.sp, blockquote.sp, details.sp, dialog.sp, dd.sp, div.sp, dl.sp, dt.sp, fieldset.sp, figcaption.sp, figure.sp, footer.sp, form.sp, h1.sp, h2.sp, h3.sp, h4.sp, h5.sp, h6.sp, header.sp, hgroup.sp, hr.sp, li.sp, main.sp, nav.sp, ol.sp, p.sp, pre.sp, section.sp, table.sp, ul.sp {
  display: none;
}

@media (width <= 800px) {
  address.sp, article.sp, aside.sp, blockquote.sp, details.sp, dialog.sp, dd.sp, div.sp, dl.sp, dt.sp, fieldset.sp, figcaption.sp, figure.sp, footer.sp, form.sp, h1.sp, h2.sp, h3.sp, h4.sp, h5.sp, h6.sp, header.sp, hgroup.sp, hr.sp, li.sp, main.sp, nav.sp, ol.sp, p.sp, pre.sp, section.sp, table.sp, ul.sp {
    display: block;
  }
  address.pc, article.pc, aside.pc, blockquote.pc, details.pc, dialog.pc, dd.pc, div.pc, dl.pc, dt.pc, fieldset.pc, figcaption.pc, figure.pc, footer.pc, form.pc, h1.pc, h2.pc, h3.pc, h4.pc, h5.pc, h6.pc, header.pc, hgroup.pc, hr.pc, li.pc, main.pc, nav.pc, ol.pc, p.pc, pre.pc, section.pc, table.pc, ul.pc {
    display: none;
  }
}